body{
  background:#f8f8f8;
}
#container{
  min-width:800px;
  width:60%;
  margin:0 auto;
  display:block;
}
#viewport{
  position:relative;
  height:400px;
  width:100%;
  overflow:hidden;
  border: 1px solid #d7d7d7;
  background:white;
}

#circle{
  display:block;
  width:40px;
  height:40px;
  border-radius:25px;
  position:relative;
  background:red;
}
#button-container{
  width:300px;
  display:block;
  position:relative;
  margin:0 auto;
}
button{
  position:relative;
  padding:10px;
  text-align:center;
  margin-top:15px;
  width:120px;
  margin-left:5px;
  text-transform:uppercase;
}
h1{
padding-top:10px; padding-bottom:10px;
text-align:center;
text-transform:uppercase;
font-family:Helvetica;
color:darkGrey;
text-shadow: 1px 1px 0px black;
}

pre.prettyprint{
  border:1px solid dotted;
}
.prettyprint{
  border:none;
  height:0px;
  overflow:hidden;
  display:none;

}

