body{
  background:#f8f8f8;
}
#container{
  min-width:1000px;
  width:100%;
  margin:0 auto;
  display:block;
}
#main-content{
  width:83%;
  min-width:770px;
  float:right;
}
#sidebar{
  float:left;
  position:relative;
  display:block;
  min-width:130px;
}
a{
  text-decoration:none;
  border-bottom:none;
  color:darkGrey;
  margin-left:10px;
  text-align:left;
  font-size:0.8em;
  text-transform:uppercase;
  font-family:Helvetica;
}
a:hover{
  border-bottom:1px dashed red;
  color:red;
}
ul{
  width:160px;
  margin:100px 0px 0px 0px;
  -webkit-padding-start: 0px;
}
ul.links li{
  display:block;
  list-style:none;
  margin-top:10px;
}
ul:first-child{
  margin-left:0px;
}
div#sidebar h1{
  font-size:1.0em;
  color:darkGrey;
  text-align:left;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.1);
}
#rectangle{
  border-radius:0px;
}
#viewport{
  position:relative;
  height:400px;
  width:90%;
  margin:0 auto;
  overflow:hidden;

  border: 1px solid rgba(0,0,0,0.3);
  box-shadow:inset 0px 0px 70px 70px rgba(90,90,90,0.1),

  background:white;
}

#circle{
  display:block;
  width:40px;
  height:40px;

  border-radius:25px;
  position:relative;
  background:red;
}
#button-container{
  width:340px;
  display:block;
  position:relative;
  margin:0 auto;
}
button{
  position:relative;
  padding:10px;
  text-align:center;
  margin-top:15px;
  width:160px;
  margin-left:5px;
  text-transform:uppercase;
}
#letterTween{
  font-size:4em;
  font-family:Helvetica;
  font-weight:bold;
  color:grey;
  text-shadow: 0px 0px 10px rgba(0,0,255,0.6);
  text-transform:uppercase;
  width:400px;
  height:70px;
  margin:auto;
  padding-top:140px;
  display:block;
}
h1{
padding-top:10px; padding-bottom:10px;
text-align:center;
text-transform:uppercase;
font-family:Helvetica;
color:darkGrey;
text-shadow: 1px 1px 0px black;
}

pre.prettyprint{
  border:1px dashed darkGrey;
}
.prettyprint{
  border:none;
  height:0px;
  overflow:hidden;
  display:none;
  width:90%;
  margin:15px auto 0px auto;
}


